* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding: 32px;
    color: #aaa;
}

header {
    height: 80px;
    background-color: pink;
    box-sizing: border-box;
    padding: 28px 14px;
}

nav {
    position: absolute;
    height: 100vh;
    width: 200px;
    background-color: lavender;
    top: 0;
    left: -200px;
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    /* TODO 3: Visibility */
    /* visibility: hidden;  */
}

nav.open {
    /* TODO 3: Visibility */
    /* visibility: visible; */
    left: 0;
}

a {
    color: #0f0f0f;
    margin: 5px 15px;
    /* TODO #1: Visible Focus */
    text-decoration: none;
    outline: none;
}

button {
    background: none;
    border: none;
    /* TODO #1: Visible Focus */
    outline: none;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

.shop-button {
    background-color: orange;
}

/* TODO #1: Order of elements */
.hamburger-button {
    float: left;
}

.login-link {
    float: right;
}

/* TODO #1: Order of elements 
   header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  */

/* TODO #2: Visible Focus */

/* a:hover {
    text-decoration: underline dashed hotpink 4px; 
  }
  button:hover {
    outline: dashed hotpink 4px; 
  }
  
  *:focus {
    outline: solid blue 5px;
  }
  
  *:focus-visible {
    outline: dotted magenta 4px;  
  }
      */